@model TestIndex
@using System.Globalization
@{

	var messages = new
	{
		Title = "Testing upload bag (over Redis)",
		Clear = "Limpiar logos",
		Clear2 = "Limpiar csv",
		Submit = "Enviar",

		UploaderTitle01 = "Anexar Logos",
		UploaderTitle02 = "Anexar csv"
	};

	var formAttributes = new { @class = "site-form labeltop" };
}
@section Title{	@messages.Title }
@section header
{
	@Html.Style("select2.min.css")
	@Html.Style("select2-bootstrap.min.css")

	@Html.Script("~/Scripts/select2.min.js")
	@Html.Script("~/Scripts/i18n/select2.i18n." + CultureInfo.CurrentCulture.TwoLetterISOLanguageName + ".js")
	@Html.ScriptBlock("TestControls.js")
}
@using (var form = Bootstrap.Form(MVC.Test.Index(), FormMethod.Post).Begin())
{
	@Html.AntiForgeryToken()
	<div class="row">
		<div class="col-xs-12">
			@Html.EditorForModel()
		</div>
		<div class="col-xs-12">
			@Html.DisplayForModel()
		</div>
	</div>
	<div class="btn-group" role="group" aria-label="...">
		@(Bootstrap.Button(messages.Clear + "KK1")
			.AddAttribute("type", "submit")
			.AddAttribute("name", "ActionSubmit")
			.SetValue(TestIndex._Action.Clear)
			.SetState(ButtonState.Warning))
		@(form.Submit(messages.Clear2 + "KK2")
			.SetName("ActionSubmit")
			.SetValue(TestIndex._Action.Submit))
		@form.Submit(messages.Clear).For(x => x.ActionSubmit, TestIndex._Action.Clear).SetState(ButtonState.Warning)
		@form.ButtonFor(x => x.ActionSubmit, messages.Clear, TestIndex._Action.Clear).SetState(ButtonState.Warning)
		@*
		@Html.ButtonFor(x => x.ActionSubmit, TestIndex._Action.Clear, x => { x.InnerText = messages.Clear; x.Category = VisualState.Warning; x.Kind = ButtonKind.ButtonSubmit;})
		@Html.ButtonFor(x => x.ActionSubmit, TestIndex._Action.Clear2, x => { x.InnerText = messages.Clear2; x.Category = VisualState.Warning; x.Kind = ButtonKind.ButtonSubmit;})
		@Html.ButtonFor(x => x.ActionSubmit, TestIndex._Action.Submit, x => { x.InnerText = messages.Submit; x.Category = VisualState.Primary; x.Kind = ButtonKind.ButtonSubmit;})
		*@
	</div>
}
